
body {
    text-align: center;
    font-family: "Montserrat";
    margin: 0px;
    background-image: url("imgs/test.png");
    background-size: 100%;
}

.about {
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(43, 43, 43);
}

.projects {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 8px 0px rgb(43, 43, 43);
    padding: 10px;
    margin: 100px 50px 50px 50px;
}

.project {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.column-1 {
    width: 30%;
}
.column-2 {
    width: 50%;
}

.project-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0px 50px 50px 50px;
}

.project-thumbnail {
    display: inline-block;
    height: 256px;
    border: 0px solid lightgray;
    margin: 20px 0px 0px 0px;
}

.project-content button {
    font-family: "Montserrat";
    font-weight: 700;
    height: 50px;
    width: 125px;
    margin-top: 10px;
    color: rgb(43, 43, 43);
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0px 2px 6px 0px #000000A0;
}

.project-content button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    cursor: pointer;
}
